network:
  version: 2
  ethernets:
    {{ ansible_default_ipv4.interface }}:
{% if override_dns %}
      dhcp4: true
      dhcp4-overrides:
        use-dns: no
      dhcp6-overrides:
        use-dns: no
{% endif %}
      nameservers:
        addresses: [
          1.1.1.1,
          1.0.0.1,
          2606:4700:4700::1111,
          2606:4700:4700::1001
        ]
